@use 'src/styles/vars' as v;

.messages {
  padding: v.$gutter * 2;
  overflow: auto;
}

.message {
  &--is-mine {
    text-align: right;
    
    .message__author {
      margin-right: v.$gutter * 1.5;
    }
  }
  &__author {
    font-size: .8em;
    margin-bottom: 0.5em;
    margin-left: v.$gutter * 1.5;
  }
  &__content {
    animation: pop .5s cubic-bezier(0,0,.58,1);
    background-color: white;
    padding: v.$gutter * 1.5;
    border-radius: 30px;
    color: v.$color-text;
    margin-bottom: 2 * v.$gutter;
    min-width: 150px;
    display: inline-block;
    font-size: 1em;
  }
}

@keyframes pop {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
