@use 'src/styles/vars' as v;

.chatroom {
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
  height: 100vh;
  background-color: v.$color-alt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
